.form-section {
  background-color: $light-blue;
  padding: 30px;
}

.form-section__input {
  padding: 7px;
  display: block;
  border: none;
  width: 50%;
  border-radius: 3px;
  margin: 15px 0;
}

.form-section__error {
  display: block;
}

.form-section__button {
  display: block;
  padding: 7px;
  border: 2px solid $brown;
  border-radius: 3px;
  width: 15%;
  background-color: $brown;
  color: $highlight-blue;
  font-weight: 700;
}

.form-section__button:hover {
  color: $brown;
  background-color: transparent;
}