@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Lobster+Two');

$light_blue: #6985ac;
$highlight_blue: #5899f5;
$gray: #1f170f;
$brown: #1f170f;
$beige: #dcc7aa;

$highlight_font: 'Lobster Two', cursive;
$main_font: 'Karla', sans-serif;