
@import "./styles/variables.scss";

* {
  margin: 0;
  padding: 0;
}

.main-section {
  display: grid;
  grid-template-columns: 1fr;
}

.header-section {
  height: 100%;
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-template-rows: 100vh;
}


.header-section__hero-image {
  width: 100%;
}

.nav-section {
  background-color: $brown;  
  text-align: center;

  .nav-section__logo {
    color: $light_blue;
    font-family: $highlight_font;
    font-size: 2.5em;
    position: relative;
    z-index: 9;
  }

  

  .nav-section__subtitle {
    color: $light_blue;
    font-family: $highlight_font;
    font-size: 1.5em;
    padding-bottom: 20px;
  }
 
}

.nav-section__button--projects {
  display: block;
  position: absolute;
  z-index: 1;
  // top: 120px;
  width: 200px;
  height: 25px;
  margin-left: 85px;
  text-decoration: none;
  background-color: #f3b54a;
  color: $brown;
  padding-top: 5px;
  font-family: $main_font;
  font-weight: bold;
  border: 1px solid $brown;
  border-radius: 30px;
  transition: all 500ms;

}

.nav-section__button--projects:hover {
  color: transparent;
  width: 125px;
  height: 70px;
  border-radius: 130px;
  margin-left: 115px;
  padding-top: 55px;
}

.footer {
  height: 100px;
  background-color: #222;
}

#login {
  position: relative;
  top: -40px;
  color: white;
  z-index: 9;
}







