@import url("https://fonts.googleapis.com/css?family=Karla:400,700|Lobster+Two");
.body {
  margin: 0;
  padding: 0;
  border: 1px solid transparent; }

.main-section {
  display: grid;
  grid-template-columns: 1fr; }

.header-section {
  height: 100%;
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-template-rows: 100vh; }

.header-section__hero-image {
  width: 100%; }

.nav-section {
  background-color: #1f170f;
  text-align: center;
  padding: 30% 0; }
  .nav-section .nav-section__logo {
    color: #6985ac;
    font-family: "Lobster Two", cursive;
    font-size: 2.5em;
    vertical-align: middle;
    position: relative;
    z-index: 9; }

.nav-section__button--projects {
  display: block;
  width: 200px;
  height: 25px;
  margin-left: 80px;
  text-decoration: none;
  background-color: #ffa12e;
  color: #1f170f;
  padding-top: 5px;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  border: 1px solid #1f170f;
  border-radius: 30px;
  transition: all 500ms;
  position: absolute;
  z-index: 1;
  top: 120px; }

.nav-section__button--projects:hover {
  color: transparent;
  width: 125px;
  height: 70px;
  border-radius: 130px;
  margin-left: 115px;
  padding-top: 55px; }

.footer {
  height: 100px;
  background-color: #222; }
